<div class="custom-block" data-aos="fade-up" data-aos-delay="100">
  <h2 class="section-title">Form</h2>
  <div class="row">
    {% include "forms/form.html.twig" %}
    <div id="form-result"></div>
  </div>
</div>