  <div class="container mb-5">
    <div class="row">
      <div class="col-lg-6">
        {% include 'partials/accordion.html.twig' %}
      </div>
      <div class="col-lg-6">
        {% include 'partials/form.html.twig' %}
      </div>
    </div>
  </div>