{% extends 'partials/base.html.twig' %}

  {% block head_css %}
		{{ parent() }}
  {% endblock %}

  {% block body %}
    {% block body_content %}
      <div class="hero pb-0">
        <div class="container">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-5 mb-5 mb-lg-0">
              <div class="mb-5">
                <h1 class="mb-4 aos-init aos-animate" data-aos="fade-up">{{ page.title }}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <p class="mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">{{ page.content|raw }}</p>
          </div>
        </div>
      </div>
    {% endblock %}
  {% endblock %}